.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

td {
    vertical-align: middle;
}

audio {
    width: 100%;
}

/* .table-gallery th:nth-child(1),
.table-gallery td:nth-child(1) {
    width: 10%;
}

.table-gallery th:nth-child(2),
.table-gallery td:nth-child(2),
.table-gallery th:nth-child(3),
.table-gallery td:nth-child(3),
.table-gallery th:nth-child(5),
.table-gallery td:nth-child(5) {
    width: 20%;
}

.table-gallery th:nth-child(4),
.table-gallery td:nth-child(4) {
    width: 5%;
}

.table-gallery th:nth-child(6),
.table-gallery td:nth-child(6) {
    width: 25%;
} */

/* For even rows, different colors */
/* .table-gallery tr:nth-child(even) {
    background-color: #f9f9f9;
} */

.table-gallery tr:hover {
    background-color: #eef6f9;
}

/* 
.table-vc-vevo th:nth-child(1),
.table-vc-vevo td:nth-child(1) {
    width: 8%;
}

.table-vc-vevo th:nth-child(2),
.table-vc-vevo td:nth-child(2),
.table-vc-vevo th:nth-child(3),
.table-vc-vevo td:nth-child(3),
.table-vc-vevo th:nth-child(4),
.table-vc-vevo td:nth-child(4) {
    width: 23%;
} */